# =========================================================
# 1. Pastas e Arquivos de Dados Grandes (NÃO ENVIAR!)
# =========================================================

# O dataset MPIIGaze completo (é muito grande)
data/MPIIGaze/

# Dados de calibração que serão gerados em tempo real no Streamlit
data/calibration_data/

# Pasta do ambiente virtual Python
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de cache e logs do Streamlit
.streamlit/
logs/

# Arquivos de cache do Jupyter
.ipynb_checkpoints/

# Arquivos e pastas do VS Code
.vscode/

# Arquivos de logs ou saídas geradas durante o treinamento
*.log
*.out